* {
  font-family: sans-serif;
  touch-action: manipulation;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #a18cd1;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}


#fallback-go { display: none; }
.no-script #fallback-go { display: inline-block; }
.no-script-message {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #a18cd1;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  min-height: 100vh;
  padding: 20px;
}

.about {
  max-width: 700px;
  background-color: rgba(256, 256, 256, 0.4);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 10px 30px 10px 30px;
  margin: 10px auto 10px auto;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-lang {
  position: absolute;
  top: 10px;
  right: 10px;
}

#notes {
  max-height: 600px;
  overflow: scroll;
  border: 2px solid black;
}

#app {
  min-height: 300px;
}

.note-wrapper {
  margin: 20px 0 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.note {
  display: flex;
  user-select: none;
  background-color: rgba(256, 256, 256, 0.3);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  margin: 10px auto 10px auto;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  min-height: 300px;
  min-width: 100px;
  flex-direction: column;
  position: relative;
  padding: 0 0 0 0;
  cursor: pointer;
  overflow: hidden;
}

.question {
  margin: 0;
  font-weight: bold;
  font-size: 3em;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: rgba(256, 256, 256, 0.3);
}

.answer {
  margin: 0 auto 0 auto;
  display: inline-block;
  width: 100%;
  border-top: 1px dotted rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  padding-bottom: 50px;
  overflow-wrap: break-word;
}

button {
  font-weight: bold;
  font-size: 1em;
}

.download {
  text-align: center;
}

.download a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.download a span  {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
}

.download a:hover {
  color: blue;
}

.learn-more {
  margin: 20px auto 20px auto;
  text-align: center;
  height: 30px;
}

.learn-more p {
  margin: 5px;
}

.show-answer-tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0.7;
  cursor: pointer;
}

.about-links {
  text-align: center;
}

.about-links a {
  padding: 0 20px 0 20px;
  text-decoration: none;
}

.about-links img {
  vertical-align: middle;
}

.about-links span {
  padding-left: 3px;
}

.hidden {
  opacity: 0;
}
