* {
  font-family: sans-serif;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

#wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #a18cd1;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

footer {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;
  background-color: rgba(256, 256, 256, 0.4);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
}

footer a {
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

footer a:hover {
  opacity: 0.8;
}

footer div {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

content {
  flex-grow: 1;
  padding-bottom: 50px;
}

.no-js {
  text-align: center;
}

.title {
  text-align: center;
  margin: 50px 0 0 0;
}

.description {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.download-label {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-lang {
  position: absolute;
  top: 10px;
  right: 10px;
}

.note-lang {
  margin-top: 50px;
  text-align: center;
}

#notes {
  max-height: 600px;
  overflow: scroll;
  border: 2px solid black;
}

.note-wrapper {
  margin: 20px 0 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.note {
  background-color: rgba(256, 256, 256, 0.4);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  margin: 10px auto 10px auto;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 50px 0 50px 0;
  min-width: 220px;
}

.note h1 {
  margin: 5px;
  font-weight: bold;
  font-size: 3em;
}

button {
  font-weight: bold;
  font-size: 1em;
}

table {
  margin: auto;
  text-align: center;
}

.emoji-row {
  cursor: pointer;
}

.emoji-row:hover,
.emoji-row.selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#download {
  cursor: pointer;
  color: black;
  font-weight: bold;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  text-decoration-style: wavy;
}

#download:hover {
  color: blue;
}
