* {
  font-family: sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}

.no-js {
  text-align: center;
}

.title {
  text-align: center;
  margin: 50px 0 0 0;
}

.description {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.download-label {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.switch-user-language {
  position: absolute;
  top: 10px;
  right: 10px;
}

.switch-card-language {
  text-align: center;
}

#cards {
  max-height: 600px;
  overflow: scroll;
  border: 2px solid black;
}

.card-wrapper {
  margin: 20px 0 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card {
  background-color: white;
  margin: 10px auto 10px auto;
  border: 4px solid black;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 30px 0 50px 0;
  min-width: 220px;
}

.card h1 {
  margin: 5px;
  font-weight: bold;
  font-size: 3em;
  padding-bottom: 20px;
}

button {
  font-weight: bold;
  font-size: 1em;
}

table {
  margin: auto;
  text-align: center;
}

.emoji-row {
  cursor: pointer;
}

.emoji-row:hover,
.emoji-row.selected {
  background-color: rgba(0, 0, 0, 0.1);
}

button#download span {
  color: blue;
  text-decoration: underline;
}
