<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <link rel="stylesheet" href="/index.css">
    <link
      rel='stylesheet'
      href='https://unpkg.com/keyboard-css@1.2.4/dist/css/main.min.css'
    />
    <link rel="icon" type="image/png" href="/icons/favicon.png">
    <style>
      #fallback-go { display: none; }
      .no-script #fallback-go { display: inline-block; }
    </style>
  </head>
  <body class="no-script">
    <div id="wrapper">
      {{{body}}}
    </div>
    <script src="/index.js"></script>
    <script>document.body.classList.remove('no-script');</script>
  </body>
</html>
